<main>
  <div class="container">
    <div>
      <app-dropdown-select [options]="dropdownOptions" [(ngModel)]="selectedId" (valueChange)="dropdownOutputChange($event)"></app-dropdown-select>

      <div class="mt">
        Selected Id: {{ selectedId }},
        Value: {{ dropdownValue }}
      </div>

      <div class="mt">
        <button (click)="changeselectedId(0)">Deselect dropdown</button>
      </div>

      <div class="mt">
        <button (click)="changeselectedId(5)">Change value id: 5</button>
      </div>

      <div class="mt">
        <button (click)="changeselectedId(100)">Change value non existent id</button>
      </div>
    </div>
  </div>
</main>